.cyrillic-letters {
    list-style-type: none;
}

.cyrillic-letters  li:before {
    display: inline-block;
    margin-left: -1.5em;
    margin-right: .55em;
    text-align: right;
    width: .95em;
}

.cyrillic-letters  li:first-child:before {
    content: "а)";
}

.cyrillic-letters  li:nth-child(2):before {
    content: "б)";
}
.cyrillic-letters  li:nth-child(3):before {
    content: "в)";
}
.cyrillic-letters  li:nth-child(4):before {
    content: "г)";
}
.cyrillic-letters  li:nth-child(5):before {
    content: "ґ)";
}
.cyrillic-letters  li:nth-child(6):before {
    content: "д)";
}
.cyrillic-letters  li:nth-child(7):before {
    content: "е)";
}
.cyrillic-letters  li:nth-child(8):before {
    content: "є)";
}
.cyrillic-letters  li:nth-child(9):before {
    content: "ж)";
}
.cyrillic-letters  li:nth-child(10):before {
    content: "з)";
}
.cyrillic-letters  li:nth-child(11):before {
    content: "и)";
}
.cyrillic-letters  li:nth-child(12):before {
    content: "і)";
}
.cyrillic-letters  li:nth-child(13):before {
    content: "ї)";
}
.cyrillic-letters  li:nth-child(14):before {
    content: "й)";
}
.cyrillic-letters  li:nth-child(15):before {
    content: "к)";
}
